<section class="grid gap-5">
  <%- include('../../partials/ui/headerTable.ejs',{ addUrl:`/admins#hotels/${hotelId}/addRoom`, searchHandler: `search('rooms', ${currentPage})`, searchQuery: searchQuery }) %>

  <div class="relative max-h-[33rem] overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500">
      <thead class="text-xs text-gray-700 text-center uppercase bg-gray-50">
        <tr>
          <th scope="col" class="px-6 py-3 text-left">type</th>
          <th scope="col" class="px-6 py-3">price</th>
          <th scope="col" class="px-6 py-3">guest</th>
          <th scope="col" class="px-6 py-3">status</th>
          <th scope="col" class="px-6 py-3">
            <span class="sr-only">Edit</span>
          </th>
        </tr>
      </thead>
      <tbody class="text-center">
        <% rooms.forEach(room => { %>
        <tr class="bg-white border-b">
          <th scope="row" class="px-6 py-4 text-left font-medium text-gray-900">
            <%= room.title %>
          </th>
          <td class="px-6 py-4">
            <div class="text-right overflow-hidden max-h-20"><%= room.price %></div>
          </td>
          <td class="px-6 py-4"><%= room.adults %></td>
          <td class="px-6 py-4 <%= room.beds && 'text-green-500' %>">
            <%= room.status ? 'active' : 'disable' %>
          </td>
          <td class="px-6 py-4">
            <div class="flex justify-end items-center gap-2">
              <a href="#hotels/<%= hotelId %>/editRoom/<%= room._id %>" class="font-medium text-blue-600 hover:underline"
                >Edit</a
              >
            </div>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
  
  <%- include('../../partials/ui/TablePagination.ejs', { 
    currentPage: currentPage, 
    totalPages: totalPages, 
    totalDocument: totalDocument,
    route: 'rooms' 
  }) %>
</section>

