<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Voucher Details</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    
    <div class="container">

        <div class="card">
            <div class="card-body">
                <div class="card-title"><img src="/images/log.png" /></div>
                <h1 class="card-title">Voucher Information</h1>
             
                <div class="card-text">
                    <li><dt>HOTEL NAME:</dt><dd><%= voucher.voucherCode %></dd> </li>
                    <li><dt>GUEST NAME:</dt> <dd><%= voucher.bookingCode %></dd></li>
                    <li><dt>ARRIVAL:</dt> <dd><%= voucher.hotelName %></dd></li>
                    <li><dt>DEPARTURE:</dt> <dd><%= voucher.roomTitle %></dd></li>
                    <li><dt>Room Type:</dt> <dd> <%= voucher.initialQuantity %></dd></li>
                    <li><dt>Number of Person:</dt> <dd><%= voucher.quantity %></dd></li>
                    <li><dt>Confirmatio:</dt> <dd><%= voucher.validFrom.toDateString() %></dd></li>
                    <li><dt>REMARK:</dt><dd> <%= voucher.validUntil.toDateString() %></dd></li>
                    
                </div>
            </div>
            <DIV class="btm">
                <P>Company name: Thailoveyou co.,Ltd  <span style="margin-left:5em;">
                    service:+66959857744</span> <span style="margin-left:5em;">Back</span> </P>
            </DIV>
        </div>
      
    </div>


</body>
   
</html>
<style>
    .container{width:100%;padding-top:20px;padding-right:25px;padding-left:15px;margin-right:auto;margin-left:auto}
    @media (min-width:576px){.container,.container-sm{max-width:540px}}
    @media (min-width:768px){.container,.container-md,.container-sm{max-width:720px}}
    @media (min-width:992px){.container,.container-lg,.container-md,.container-sm{max-width:960px}}
    @media (min-width:1200px){.container,.container-lg,.container-md,.container-sm,.container-xl{max-width:1140px}}
    .container {
        max-width: 800px;
    }
    .card{
        padding-top:5em;
        border: none;
        box-shadow: 0 0 20px rgba(0,0,0,0.1);
    }
    .card-text {
        font-size: 1.1em;
        gap: 20px;
        padding-top:2em;
    }
    .card-text li{
        margin-bottom:1em;
        padding-left:2em;
        list-style: none;

    }

    .card-text li dt {
        font-weight:bold ;
        color: #495057;
        float:left;
        width: 30%;
    }
    .card-title {
        color: #007bff;
        font-weight: bold;
        text-align:center; ;
    }
    .btm{
        background-color: darkgray;
        margin-top:5em;
        text-align: center;
        padding: 0.5em;
    }
</style>
