<section class="grid gap-5">
    <%- include('../../partials/ui/headerTable.ejs',{  searchHandler: `search('users', ${currentPage})`, searchQuery: searchQuery }) %>
  
    <div class="relative max-h-[33rem] overflow-x-auto shadow-md sm:rounded-lg">
      <table class="w-full text-sm text-left rtl:text-right text-gray-500">
        <thead class="text-xs text-gray-700 text-center uppercase bg-gray-50">
          <tr>
            <th scope="col" class="px-6 py-3 text-left">userid</th>
            <th scope="col" class="px-6 py-3">email</th>
            <th scope="col" class="px-6 py-3">company</th>
            <th scope="col" class="px-6 py-3">role</th>
            <th scope="col" class="px-6 py-3">
              <span class="sr-only">Edit</span>
            </th>
          </tr>
        </thead>
        <tbody class="text-center">
            <% users.forEach(user => { %>
                <tr class="bg-white border-b">
                  <th scope="row" class="px-6 py-4 text-left font-medium text-gray-900">
                    <%= user._id %>
                  </th>
                  <td class="px-6 py-4">
                    <div class="text-left overflow-hidden max-h-20"><%= user.email %></div>
                  </td>
                  <td class="px-6 py-4"><%= user.companyName %></td>
                  <td class="px-6 py-4"><%= user.role %></td>
                  <td class="px-6 py-4">
                    <div class="flex justify-end items-center gap-2">
                      <a href="#users/edituser/<%= user._id %> %>" class="font-medium text-blue-600 hover:underline"
                        >Edit</a
                      >
                    </div>
                  </td>
                </tr>
              <% }) %>
              
        </tbody>
      </table>
    </div>
    
    <%- include('../../partials/ui/TablePagination.ejs', { 
      currentPage: currentPage, 
      totalPages: totalPages, 
      totalDocument: totalDocument,
      route: 'users' 
    }) %>
  </section>

  <script>
    $(document).ready(function () {
        $(".underline_select").on("change", function () {
            const newStatus = $(this).val();
            const userId = $(this).data("id"); // ดึงค่า user._id จาก data-id
            const userNumber = $(this).data("number"); // ดึงค่า user._id จาก data-id
            const oldStatus = $(this).find("option[selected]").val() ; // ค่าเดิมก่อนเปลี่ยน
    
            // ยืนยันก่อนเปลี่ยนสถานะ
            Swal.fire({
                title: "Are you sure?",
                text: `${userNumber}   from "${oldStatus}" to "${newStatus}" ?`,
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "sure",
                cancelButtonText: "cancel"
            }).then((result) => {
                if (!result.isConfirmed) {
                    $(this).val(oldStatus);
                } else {
                    $.ajax({
                        url: "admins/users/userstatus", 
                        type: "PUT",
                        contentType: "application/json",
                        data: JSON.stringify({
                            id: userId,
                            status: newStatus
                        }),
                        success: function (response) {
                            Swal.fire("Success!", "Status is Update", "success");
                        },
                        error: function (error) {
                            Swal.fire("Fail!", "Update status is Fail", "error");
                            $(this).val(oldStatus); 
                        }
                    });
                }
            });
        });
    });
    </script>
  