<div class="bg-white pb-4">
    <form id="golfForm" class="max-w-screen-lg mx-auto space-y-6">
      <div>
        <h1
        class="block mb-2 text-3xl font-bold text-gray-900 "
        ><%= title %></h1>
        <label
          for="Information"
          class="block mb-2 text-xl font-bold text-gray-900 underline"
          >Information</label
        >
      </div>
      <div class="grid md:grid-cols-2 gap-6">
        <div>
          <%- include('../../partials/ui/inputText', { name: "title", label:
          "Golf Name", id: "input-name", value: golf ? golf.title :""   }) %>
        </div>
        <div>
          <%- include('../../partials/ui/inputText', { name: "nameEn", label:
          "EnglishName", value: golf ? golf.nameEn :"" }) %>
        </div>
      </div>
      <div class="grid md:grid-cols-2 gap-6">
        <div>
            <label
              for="Base Price"
              class="block  text-sm font-medium text-gray-900"
              >Base Price</label
            >
            <div class="relative w-full">
              <div
                class="absolute inset-y-0 start-0 top-0 flex items-center ps-3.5 pointer-events-none"
              >
                <svg
                  class="w-4 h-4 text-gray-500"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 20 16"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 2a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1M2 5h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1Zm8 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0Z"
                  />
                </svg>
              </div>
              <input
                type="number"
                name="price"
                id="Base Price"
               value="<%= golf ? golf.price :"" %>"
                class="block p-2.5 w-full z-20 ps-10 text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
                placeholder="Enter amount"
                required
              />
            </div>
          </div>
        <div>
          <%- include('../../partials/ui/inputURL', { name: "slug", label:
          "Golf_Website", value: golf ? golf.slug :"" , placeholder:"https://golf.com" }) %>
        </div>
      </div>
      <div>
        <%- include('../../partials/ui/inputTextArea', { name: "address", label:
        "Address" , value: golf ? golf.address :"" }) %>
      </div>
      <div>
        <%- include('../../partials/ui/inputTextArea', { name: "content", label:
        "Description" , value: golf ? golf.content :""  }) %>
      </div>
      <!-- image -->
      <div class="space-y-4 mb-5">
        <div class="grid md:grid-cols-2 gap-6">
          <div class="flex items-center justify-center w-full h-52 max-h-52 bg-gray-300 rounded">
          
            <img id="main_image_preview" src="uploads/<%= isAdd? "" :golf.image_id %> " alt="Preview"
              class="h-full object-cover <%= isAdd ? " hidden" : "" %>"
            />
            <% if (isAdd) { %>
              <svg id="main_image_preview_skeleton" class="w-10 h-10 text-gray-200 dark:text-gray-600" aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18">
                <path
                  d="M18 0H2a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm-5.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm4.376 10.481A1 1 0 0 1 16 15H4a1 1 0 0 1-.895-1.447l3.5-7A1 1 0 0 1 7.468 6a.965.965 0 0 1 .9.5l2.775 4.757 1.546-1.887a1 1 0 0 1 1.618.1l2.541 4a1 1 0 0 1 .028 1.011Z" />
              </svg>
              <% } %>
          
          </div>
          <div class="space-y-2">
            <div>
              <%- include('../../partials/ui/inputFile', { id: "main_image", name:
              "image_id", label: "Main Image" ,isRequired: golf ? false : true   }) %> 
            </div>
            <div>
              <%- include('../../partials/ui/inputFile', { name:
              "banner_image_id", label: "Banner Image",isRequired:golf ? false : true }) %>
            </div>
            <div>
              <%- include('../../partials/ui/inputFile', { name: "gallery", label:
              "Other Image" ,isMultiple:true,isRequired:golf ? false : true }) %>
            </div>
          </div>
        </div>
      </div>
      <!-- star rate -->
      <!-- <div class="grid md:grid-cols-2 gap-6">
        <div>
          %- include('../../partials/ui/inputText', { name: "star_rate", label:
          "Rate" ,type:"number" ,value: golf ? golf.star_rate :"" , min: 0 , max: 5}) %>
        </div>
      </div> -->
      <div >
        <label for="Services_textediter" class="block text-sm font-medium text-gray-900"
        >Services_textediter</label
      >
        <textarea id="Services_textediter" name="Services_textediter"><%= golf ? golf.Services_textediter : "" %></textarea>
       </div>
       <div >
        <label for="Policies_textediter" class="block text-sm font-medium text-gray-900"
        >Policies_textediter</label
      >
        <textarea id="Policies_textediter" name="Policies_textediter"><%= golf ? golf.Policies_textediter : "" %></textarea>
       </div>
       <div >
        <label for="Description_textediter" class="block text-sm font-medium text-gray-900"
        >Description_textediter</label
      >
        <textarea id="Description_textediter" name="Description_textediter"><%= golf ? golf.Description_textediter : "" %></textarea>
       </div>
  
      <div>
        <label for="status" class="block mb-2 text-sm font-medium text-gray-900"
          >Status</label
        >
        <select
          id="countries"
          name="status"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        >
          <option value="1">Active</option>
          <option value="0">Disable</option>
        </select>
      </div>
      <button
        type="submit"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center"
      >
        Submit
      </button>
      <button disabled type="button" class="hidden py-2.5 px-5 me-2 text-sm font-medium text-gray-900 bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-blue-700 focus:text-blue-700  inline-flex items-center">
        <svg aria-hidden="true" role="status" class="inline w-4 h-4 me-3 text-gray-200 animate-spin dark:text-gray-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
        <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="#1C64F2"/>
        </svg>
        Loading...
        </button>
    </form>
  </div>
  
  <script>
    $(() => {
      const isAdd = <%= isAdd %>
  
        // image
      $("#main_image").on("change", function (e) {
        const file = e.target.files[0]; // เลือกไฟล์แรก
        if (file) {
          const reader = new FileReader();
          reader.onload = function (event) {
            $("#main_image_preview_skeleton").addClass("hidden");
            $("#main_image_preview")
              .attr("src", event.target.result)
              .removeClass("hidden");
          };
          reader.readAsDataURL(file); // อ่านไฟล์เป็น Data URL
        }
      });
  
      // Form submission
      $("#golfForm").submit(function (event) {
        event.preventDefault();
        // ซ่อนปุ่ม Submit และแสดงปุ่ม Loading
        const submitButton = $("button[type='submit']");
        const loadingButton = $("button[disabled]");
  
        submitButton.addClass("hidden");
        loadingButton.removeClass("hidden");
  
        let golfId;
        if (!isAdd) {
          const currentUrl = window.location.hash;
          const regex = /\/editGolf\/([a-f0-9]{24})/; // อันนี้ใช้สำหรับ MongoDB ObjectId ที่เป็น 24 ตัวอักษร
          const match = currentUrl.match(regex);
  
          const pathSegments = currentUrl.split('/');
          golfId = pathSegments[pathSegments.length - 1];
  
          if (!golfId) {
            console.error("Golf ID not found in the URL");
            return;
          }
        }
        const formData = new FormData(this);
        const type = isAdd ? "POST" : "PUT";
        const url = isAdd ? "/admins/golfs/addGolf" : `/admins/golfs/editGolf/${golfId}`
        $.ajax({
          type: type, // ใช้ POST ในการส่งข้อมูล
          url: url, // URL ที่จะส่งข้อมูลไป
          data: formData,
          dataType: "json", // กำหนดประเภทของข้อมูลที่คาดว่าจะได้รับ (เช่น json, html, xml)
          processData: false, // ไม่ต้องแปลง formData ให้อยู่ในรูปแบบ query string
          contentType: false, // ป้องกันการตั้ง content-type แบบอัตโนมัติ ซึ่งทำให้ FormData ถูกส่งได้อย่างถูกต้อง
          success: function (res) {
            window.location.href = res.redirectUrl;
          },
          error:function(err){
            submitButton.removeClass("hidden");
            loadingButton.addClass("hidden");
          }
        });
      });
      
  
      new FroalaEditor("#Services_textediter", {
        events: {
          contentChanged: function () {
            document.querySelector("#textEditor").value = this.html.get();
          }
        }
      });
      new FroalaEditor("#Policies_textediter", {
        events: {
          contentChanged: function () {
            document.querySelector("#textEditor").value = this.html.get();
          }
        }
      });
      new FroalaEditor("#Description_textediter", {
        events: {
          contentChanged: function () {
            document.querySelector("#textEditor").value = this.html.get();
          }
        }
      });
    });
  
  
   
  </script>
  